/.phpunit.cache
/backend/bootstrap/ssr
/backend/node_modules
/backend/storage/*.key
/backend/storage/pail
/backend/vendor
/frontend/node_modules
/node_modules
/public/build
/public/hot
/public/storage
.env
.env.backup
.env.production
/backend/.env
/backend/.env.backup
/backend/.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
.windsurfrules
